.blog-preview {
  /* padding: 4rem 0; */
  border-top: 1px solid var(--border-color);
  padding-bottom: 0rem;
  padding-top: 4rem;
}

.preview-header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-start;
}

.blog-preview-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media (max-width: 900px) {
  .preview-header {
    flex-direction: column;
  }

  .blog-preview-grid {
    grid-template-columns: 1fr;
  }
}
