.social-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.85rem;
}

.social-links a {
  color: var(--text-secondary);
  font-weight: 600;
  transition: var(--transition);
}

.social-links a:hover {
  color: var(--accent-color);
}
